@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Optional: Add this for text truncation */
.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
button{
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    scale: 1.1;
}